body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    display: grid;
    grid-template-columns: 250px 1fr;
    width: 100%;
    height: 100vh;
}

/* BARRA LATERAL ------------------------------------> */
.barra-lateral {
    background-color: #3b82f6;
    padding: 1em;
}

.barra-lateral button{
    padding: 1.2em;
    color: white;
    background-color: #3b82f6;
    border: none;
    width: 100%;
    text-align: start;
}

.barra-lateral-titulo{
    font-weight: bold;
    font-size: 1.5em;
    color: white;   
}

.barra-lateral button:hover {
    background-color: #2463e9;
    cursor: pointer;
}

/* CONTENIDO PRINCIPAL ------------------------------------> */

.contenido-principal {
    background-color: #f2f4f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.blue-button{
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 1em 1.5em;
    align-self: flex-start;

    cursor: pointer;
    transition: background-color 0.2s ease;
}

.blue-button:hover {
    background-color: #2563eb;
}

/* CATEGORIAS  ------------------------------------> */

.categorias-form-container {
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 40%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.144);
    border-radius: 4px;
}
.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.form-div label{
    font-size: 0.9em;
    margin-bottom: 0.5em;
    color: #333;
}

.form-div input{
    padding: 0.6em;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 1em;
}

.form-div2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5em;
    gap: 1em;
}

/* CREAR TAREA  ------------------------------------> */