body {
    margin: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: minmax(200px, 20%) 1fr ;
    width: 100%;
    height: 100vh;
}

/* BARRA LATERAL ------------------------------------> */
.barra-lateral {
    background-color: #3b82f6;
    padding: 20px;
}

.barra-lateral div{
    padding: 1em;
    color: white;
}

.barra-lateral-titulo{
    font-weight: bold;
    font-size: 1.5em;
    color: white;   
}

.barra-lateral div:hover {
    background-color: #2463e9;
    cursor: pointer;
}

/* CONTENIDO PRINCIPAL ------------------------------------> */

.contenido-principal {
    background-color: #ffffff;
}